body{

	margin: auto;
	padding: auto;
}

h1{
	font-size: 30px;
	text-align: left;
}
h2{
 font-size: 20px;
	text-align: left;
}
h3{
	font-size: 14px;
	text-align: left;
}

.card{
	width: 418px;
	height: auto;
	margin: 25% auto;
	padding: 100px 40px 40px 40px;
	background-color: rgb(231, 76, 60);
	background-image: url(perfil.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	max-width: 30%;
	text-align: left;
}