/* Space out content a bit */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', Arial,sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Custom page header */
.header {
  text-transform: uppercase;
  color: #666666;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  opacity: 0.8;
}


.header{
  margin-top: 8px;
  border: none;
}

.header,
.nav,
.pull-right,
.nav-pills,
.active{
  color: #666666;
}

.active,
.active:focus,
.active:hover{
  
}

.nav-pills > li.active{
  border-bottom: 3px solid #eeccaa;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #666666;
  background-color: #ffffff;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.case{
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  opacity: 0.8;
  padding: 2px;
  margin: 2px auto 2px auto;
}

.blue{
  color: #21aae1;
}

.row{
  margin-top: 30px;
  clear: both;
}

.border{
  border-bottom: 3px solid #eeccaa;
  border-bottom-left: 20%;
  border-bottom-right: 20%;
}

.btn-primary, .btn-primary:hover{
  background-color: #f69244;
  border-color: #f69244;
}

h3{
  text-transform: uppercase;
  font-weight: bold;
}

p{
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.bg-1{
  background-color: #2d3538;
}

.text-white{
  color: #ffffff;
}

.col-lg-3{
  border: 1px solid #dddddd;
  bottom: 1px;
  padding: 12px;
}

/*-------------------------------------------------------------------------------- */

.services{
  left: 0px;
  right: 0px;
  color: orange;
  padding-top: 30px;
  padding-bottom: 40px;
}

.services .col-lg-6 p{
  padding-right: 20px;
  font-size: 12px;
}


.we-work{
  left: 0px;
  right: 0px;
}

.services img, .we-work img{
  width: 55px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 25px;
}

.we-work .col-lg-3{
  border: none;
}

.services-body, .we-work-body{
  padding-left: 60px;
}

.we-work-body h3{
  color: #1caddc;
  font-size: 34px;
  font-weight: bold;
}


.bg-shadow{
  background-color: #2d3538;
  margin-top: 40px;
}

.bg-light{
  background-color: #f3fbfd;
  margin-top: 0px;
}

.bg-shadow h2{
  color: #dddddd;
}

h2{
  font-weight: bold;
}

.bg-shadow p{
  color: #aaaaaa;
  line-height: 20px;
}

#ipad{
  background-color: #21aae1;
  height: auto;
  margin-top: 40px;
}

#ipad img{
  margin-top: -25px;
  margin-left: 25%;
  width: 50%;
}

.bg-light{

}