body{
	font-family: tahoma, arial, sans-serif;
	
	color: #aaaaaa;
}

.navbar{
	height: 100%;
	width: 75px;
}

.navbar-brand{
	background-color: #279e68;
	color: #ffffff;
}

.navbar-inverse{
	background-color: #f4f4f4;
}

.navbar-collapse{
	padding-left: 0px;
}

.navbar-inverse .navbar-brand{
	color: #ffffff;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover{
	background-color: #279e68;
	color: #ffffff;
}

.nav > li > a{
	padding: 26px 20px;
}

#ps-support{
	background-color: #0d293f;
	height: 310px;
	
}

#ps-support img{
	width: 100px;
	height: 100px;
}

#ps-support .row{
	margin-top: 100px;
}

#ps-support .row:before{
	margin-right: 50px;
}

#ps-support .row:after{
	margin-left: 50px;
}

.left{
	text-align: right;
}

.right{
	text-align: left;
}

.container{
	width: 730px;
}

.img-center{
	margin-left: 25%;
}

#service h5{
	font-weight: bold;
	color: #555555;
}

#service h5, #service p{
	text-align: center;
}

#service .page-header small{
	margin-left: 50px;
}

#carousel-example-generic{
	/*height: 200px;*/
}

.carousel {
    height: 300px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #777777;
    height: 300px;
}
.carousel-inner > .item > img {
    height: 300px;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}